.product-info-2 {
  display: flex;
  margin: 48px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 16px;
}

.product-detail-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-images-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 12px;
}

.product-img {
  padding: 10px;
  height: 150px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-main-image {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.product-main-image img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.product-main-image:hover img {
  transform: scale(1.2); /* Zoom in effect */
}

.product-description {
  width: 40%;
  padding: 16px;
}
.info {
  width: 150px;
}

.star-m {
  font-size: 24px;
}

.star-m.filled {
  color: #ffd700;
}

.product-price-2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 16px;
}

.product-desc {
  margin-bottom: 22px;
}

.product-colors {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
}

.product-colors p {
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.color-options {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-top: 15px;
}

.color-option {
  cursor: pointer;
}

.color {
  width: 15px;
  height: 15px;
  background-color: cadetblue;
  border-radius: 50%;
}

.two {
  background-color: chocolate;
}

.color-option.selected .color {
  border: 2px solid #000;
}

.size-options {
  display: flex;
  gap: 16px; /* Space between size options */
}

.size-option {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.size-option:hover {
  background-color: #e0e0e0; /* Hover effect */
}

.size-option.selected {
  background-color: #db4444;
  color: #fff;
}

.product-details-3 {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 16px;
}

.product-quant-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quant-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db4444;
  color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 24px;
}

input[type="number"] {
  width: 70px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
}

.add-to-cart-btn-2 {
  padding: 8px 20px;
  background-color: #db4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.inc {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dec {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.product-delivery-card {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 4px;
}

.related-products {
  margin-top: 30px;
}

.product-delivery {
  margin-top: 15px;
}
